@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

:root {
    --azul-principal: #30ABD6;
    --azul-secundario:  #399DBF;
    --azul-escuro: #2C4975;
    --cinza-claro: #D8D8D8;
    --cinza-escuro: #999999;
    --manager-verde: #2A9E34;
    --producao-laranja: #FB8C00;
    --transporte-amarelo: #FDE02C;
    --helpdesk-azul: #18CCFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Manrope", "sans-serif";
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
}

*::selection {
    background-color: rgba(129, 129, 129, 0.3);
}

/* CLASS CONTEINER CONTIDA NO MAIN */
.conteiner {
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

/* HEADER */
.webHead {
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO HEADER */
.topHead {
    top: 0px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 12vh;
    padding-right: 12vh;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* CONTEM A FRASE E A LOGO BELT */
.centroAprendizagem {   
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.centroAprendizagem h2 {
    border-left: 2px solid white;
    padding: 10px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    color: #ffffff;
}

.linkBackHead {
    color: white;
}

.linkBackHead:hover {
    color: white;
    text-decoration: underline;
}

.linkBackHead-chield {
    color: white;
    margin-left: 1vh;
    padding-top: 0.5vh;
}

.linkBackHead-chield:hover {
    color: white;
    text-decoration: underline;
}

.linkBackHead-chield:hover:last-child {
    color: white;
    text-decoration: none;
}



.linkBackHead-chield {
    color: white;
    margin-left: 1vh;
    padding-top: 0.5vh;
}
#logo-belt {
    margin-right: 20px;
    width: 12vh;
}

/* CAMPO AJUDA E LOGIN */
.btnOptions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.btnOptions a{
    padding: 8px;
    /* padding-left: 12px; */
    padding-right: 12px;
    font-size: 22px;
    margin-left: 40px;
    color: white;
    position: relative;
}

#ajudaBtn {
    margin-left: 0px;
}
/* ANIMAÇÃO BOTAO AJUDA */
.btnOptions #ajudaBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.btnOptions #ajudaBtn:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* BOTAO LOGIN */
#loginBtn {
    background-color: #ffffff;
    color: var(--azul-escuro);
    border-radius: 10px;
    border: 2px solid #eeeeee;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.13);
}

#loginBtn:hover {
    background-color: #e0e0e0;
    transition: .3s;
}

/* BANNER */
.banner {
    height: 40vh;
    width: 100%;
    transition: .4s;
    background: url(./img/banners/SaferERP-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* BARRA DE NAVEGAÇÃO DOS SAFERS */
.navBar {
    width: 100%;
    height: 12vh;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
    border-bottom: 2px solid #ededed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

/* LINHA DIVISORIA DOS SAFERS */
.lineBetween {
    height: 8vh;
    width: 2px;
    background-color: #ededed;
}
/* CAMPO DIVS DOS SAFERS  */
.boxItem-navBar {
    width: 30vh;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .4s;
}

/* REDIMENSIONAR IMGS */
.boxItem-navBar img{
    width: 75%;
}

.boxItem-navBar img:hover {
    width: 90%;
    transition: .3s;
}

/* TRANSIÇÃO DAS IMGS */
.boxItem-navBar img {
    transition: .2s;
}

/* DEFINIR CURSOR COMO POINTER */
.cursor-pointer {
    cursor: pointer;
}

/* LINHA DE BAIXO SAFER ERP */
.saferERP-lineBottom {
    border-left: 0;
    padding-left: 0vh;
    border-bottom: 1vh solid var(--azul-secundario);
}

.saferERP-lineBottom:hover {
    border-bottom: 0.5vh solid var(--azul-secundario);
    transition: .15s;
}

/* LINHA DE BAIXO SAFER PRODUCAO */
.saferProducao-lineBottom {
    border-left: 0;
    padding-left: 0vh;
    border-bottom: 1vh solid var(--producao-laranja);
    
}

.saferProducao-lineBottom:hover {
    border-bottom: 0.5vh solid var(--producao-laranja);
    transition: .15s;
}

/* LINHA DE BAIXO SAFER TRANSPORTE */
.saferTransporte-lineBottom {
    border-left: 0;
    padding-left: 0vh;
    border-bottom: 1vh solid var(--transporte-amarelo);
    
}

.saferTransporte-lineBottom:hover {
    border-bottom: 0.5vh solid var(--transporte-amarelo);
    transition: .15s;
}

/* LINHA DE BAIXO SAFER MANAGER */
.saferManager-lineBottom {
    border-left: 0;
    padding-left: 0vh;
    border-bottom: 1vh solid var(--manager-verde);
    
}

.saferManager-lineBottom:hover {
    border-bottom: 0.5vh solid var(--manager-verde);
    transition: .15s;
}

/* LINHA DE BAIXO SAFER HELPDESK */
.saferHelpdesk-lineBottom {
    border-left: 0;
    padding-left: 0vh;
    border-bottom: 1vh solid var(--helpdesk-azul);
    
}

.saferHelpdesk-lineBottom:hover {
    border-bottom: 0.5vh solid var(--helpdesk-azul);
    transition: .15s;
}


/* SECTION DE CONTEUDO */
.contentBox {
    padding: 4vh;
    padding-right: 10vh;
    padding-left: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TOPICOS SECTION */
.topicsGrid {
    padding-left: 2vh;
    padding-right: 12vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5vh;
    row-gap: 5vh;
}
.topicsGrid-baseConhecimento {
    padding-left: 0vh;
    padding-right: 0vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5vh;
    row-gap: 5vh;
}
/* SUBTITULO DOS TOPICOS */
.subtittle-H3 {
    font-size: 30px;
    color: var(--azul-principal);
    font-weight: 700;
    padding-bottom: 3vh;
}

/* COR DO PONTO DA LI */
li {
    color: #053763;
}

/* TEXTO DOS TOPICOS */
.topicsGrid a {
    color: var(--azul-escuro);
    font-size: 18px
}

.topicsGrid a:hover {
    text-decoration: underline;
}

/* TOPICOS ENQUADRAMENTO */
.sectionTopics {
    margin-bottom: 6vh;
}
.sectionTopicsBottom {
    margin-bottom: 3vh;
}

/* FOOTER DA PÁGINA */
.webBottom {
    background-color: var(--azul-escuro);
    width: 100%;
    height: 4vh;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.2);
}

.webBottom p {
    color: #ffffff;
    font-size: 12px;
}

/* PAGE AJUDA */
/* INPUT DE DIGITAR DUVIDAS */
.box-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
#questionInput {
    border-radius: 1.5vh;
    width: 1000px;
    height: 50px;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    font-weight: 700;
}

#questionInput::placeholder{
    color: #999999;
    font-weight: 500;
}

.search_icon {
    width: 5vh;
    margin-right: 2vh;
}
/* CUSTOMIZAÇÃO DO INPUT DEPENDENDO DO SAFER SELECIONADO */
.saferERP-input {
    border: 3px solid var(--azul-secundario);
    color: var(--azul-secundario)
}

.saferProducao-input {
    border: 3px solid var(--producao-laranja);
    color: var(--producao-laranja);
}

.saferTransporte-input {
    border: 3px solid var(--transporte-amarelo);
    color: var(--transporte-amarelo);
}

.saferManager-input {
    border: 3px solid var(--manager-verde);
    color: var(--manager-verde);
}

.saferHelpdesk-input {
    border: 3px solid var(--helpdesk-azul);
    color: var(--helpdesk-azul);
}

/* SUBTITULO PARA O H4 */
.subtittle-H4 {
    font-size: 20px;
    color: var(--azul-principal);
    font-weight: 700;
    padding-bottom: 0.8vh;
}

.subtittle-H4:hover {
    text-decoration: underline;
    filter: brightness(0.8);
}

/* CASE DO CONTEUDO ABAIXO DO INPUT */
.contentSubBox {
    border-top: 0.5vh solid #ededed;
    margin-top: 4vh;
    padding: 4vh;
    padding-bottom: 1vh;
    display: flex;
    flex-wrap: wrap-reverse;
    /* align-items: center; */
    justify-content: center;
    gap: 10vh;
}

/* CASE DE CONTEUDO DOS ATALHOS "PRIMEIORS PASSOS", "BASE CONHECIMENTO", etc */
.shortCut-box {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    /* border-right: 0.5vh solid #ededed; */
    padding-right: 12vh;
}

/* CASES INDIVIDUAIS DE CADA ATALHO */
.caseIten-shortcut {
    display: flex;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
}

.caseIten-shortcut:first-child {
    margin-top: 0;
}

/* REDIMENSIONAMENTO DOS ICONES DOS ATALHOS */
.IconShortCut {
    width: 10vh;
}

.IconShortCut:hover {
    filter: brightness(0.8);
}

.textShortCut p{
    font-size: 14px;
}

/* BOX DA AREA CONTATO/SUPORTE */
.suporte-box {
    border-top: 0.5vh solid #ededed;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-right: 4vh;
}

.suporte-PagPrincipal {
    margin-top: 3vh;
    border-top: 0.5vh solid #ededed;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.case-content-suporte {
    display: flex;
    column-gap: 5vh;
}
/* CASE INDIVIDUAL DE CADA PARTE DO CONTATO */
.box-contact {
    margin-bottom: 2vh;
}

.box-contact h4{
    font-size: 18px;
}

.box-contact p {
    padding-left: 2.5vh;
    padding-top: 0.4vh;
    color: #999999;
}

/* TOPICO DAS "DUVIDAS FREQUENTES" */
.topic-case {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* width: 1000px; */
    column-gap: 6vh;
}
.topic-case li {
    padding-top: 1.5vh;
}

.topic-case li:first-child {
    padding-top: 0;
}

.topic-case li:last-child {
    padding-bottom: 1.5vh;
}

/* BOX GERAL DAS DUVIDAS FREQUENTES */
.topicBox {
    /* padding-left: 10vh; */
}

/* CADA TOPICO */
.topicsTxt a {
    color: var(--azul-escuro);
    font-size: 16px
}

.topicsTxt a:hover {
    text-decoration: underline;
}

/* CUSTOMIZAÇÃO DO TOPICO "DUVIDAS FREQUENTES" DEPENDENDO DO SAFER SELECIONADO */
.saferERP-h3 {
    color: var(--azul-secundario);
}
.saferProducao-h3 {
    color: var(--producao-laranja);
}
.saferTransporte-h3 {
    color: var(--transporte-amarelo);
}
.saferHelpdesk-h3 {
    color: var(--helpdesk-azul);
}
.saferManager-h3 {
    color: var(--manager-verde);
}

/* MEDIA QUERYs */
@media (max-width: 1396px) {
    .topic-case {
        grid-template-columns: repeat(2, 1fr);
    }
    .shortCut-box {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-top: 4vh;
        border-top: 0.5vh solid #ededed;
        gap: 6vh;
    }
    .suporte-box {
        border-top: 0;
        margin-left: 5vh;
    }
    .contentSubBox {
        gap: 4vh;
    }
}

@media (max-width: 1260px) {
    .topHead {
        padding-left: 8vh;
        padding-right: 8vh;
    }
    .linkBackHead {
        font-size: 20px;
    }
    #questionInput {
        width: 800px;
    }
    /* .boxItem-navBar img{
        width: 160px;
    }
    .boxItem-navBar img:hover {
        width: 200px;
    } */
    
}

@media (max-width: 1120px) {
    .topicsGrid-baseConhecimento {
        grid-template-columns: repeat(3, 1fr);
    }
    #questionInput {
        width: 600px;
    }
    .navBar {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* .boxItem-navBar img:hover {
        width: 180px;
    } */
}   